body {
    background-image: url("../img/background.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

canvas {
    border-radius: 30px;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -55rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    position: relative;
    color: #F72C28;
}

#sidebar-wrapper .list-group {
    width: 55em;
}

#content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#sidebar-carrier {
    background-color: rgba(2, 2, 2, 0.70);
    z-index: 2;
    width: 53em;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 50px;
    background-color: #F72C28;
    border: 1px solid #020202;
}

#divider-bar {
    height: 100%;
    position: absolute;
    right: 10px;
    width: 30px;
    background-color: #F72C28;
    border-radius: 10px;
    border: 1px solid #020202;
}

.copyright {
    font-size: 70%;
    font-style: italic;
    position: absolute;
    top: 90%;
    color: #020202;
    width: 50em;
}

.ol-zoom {
    position: absolute;
    top: 1em;
    right: 1em;
    left: auto;
}

.ol-zoom-in, .ol-zoom-out {
    background-color: #F72C28;
    border: 0.5px solid #020202;
    color: white;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
	margin-left: 0;
    }

    #content-wrapper {
	min-width: 0;
	width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
	margin-left: -55rem;
    }
}
